* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 625px;
    margin: 120px auto;
    height: 350px;
    background: rgb(255, 255, 255);
    background: linear-gradient(308deg, rgba(255, 255, 255, 1) 56%, rgba(0, 0, 0, 1) 56%);
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);
    border-radius: 12px;
}

.greeting {
    width: 525px;
}

.greeting>h1 {
    padding: 100px 80px 0px 40px;
}

.greeting>p {
    padding: 5px 100px 0px 40px;
}

.form-layout {
    text-align: center;
    width: 525px;
    padding: 10px 0px;
}

.form-layout>h1 {
    padding-top: 10px;
    text-decoration: underline;
}

.form-layout>p {
    padding-top: 10px;
}

input {
    width: 220px;
    border: none;
    border-bottom: 1px solid black;
    padding: 15px 15px 15px 0;
}

input:focus {
    outline: none;
}

button {
    padding: 6px 60px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(73, 73, 247);
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}